.formcontrol{
    display: flex;
    flex-direction: column;
}
.formcontrol label {
    margin-bottom: .6em;
    font-weight: bold;
}
.formcontrol select{
    padding: .7em;
    border-radius: 0;
    border: 1px solid var(--cinza);
}