@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body, #root{
  background-color: var(--branco);
  height: 100%;
}

:root{
  --amarelo: #FFBB33;
  --preto: #222;
  --branco: #fff;
  --cinza: #7b7b7b;
  --verdeescuro: #155724;
  --verdeclaro: #D4EDDA;
  --verdeborda: #C3E6CB;
  --vermelhoescuro: #721c24;
  --vermelhoclaro: #f8d7da;
  --vermelhoborda: #f5c6cb
}