.card{
    padding: 1em;
    border: 1px solid var(--cinza);
    border-radius: 5px;
    width: 24%;
    margin: 0.5%
}
.card h4{
    background-color: var(--preto);
    color: var(--amarelo);
    padding: .4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}
.card p{
    color: var(--cinza);
    margin-bottom: 1em;
}
.card p span{
    font-weight: bold;
}
.categorytext{
    display: flex;
    align-items: center;
}
.categorytext span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--cinza);
    margin-right: 5px;
}
.categorytext .infra{
    background-color: var(--infra)
}
.categorytext .desenvolvimento{
    background-color: var(--dev)
}
.categorytext .design{
    background-color: var(--design)
}
.categorytext .planejamento{
    background-color: var(--planej)
}
.actioncards{
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}
.actioncards a,
.actioncards button{
    text-decoration: none;
    border: none;
    background-color: var(--branco);
    color: var(--preto);
    font-size: .9em;
    padding: .6em 1em;
    cursor: pointer;
    margin-right: 1em;
    border: 1px solid var(--preto);
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.actioncards svg{
    margin-right: .5em;
}
.actioncards a:hover,
.actioncards button:hover{
    background-color: var(--preto);
    color: var(--amarelo);
}